<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>第一次做App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3BB9C7891EBF5CDE00A3A062</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BB9C79D1EBF5CDE00A3A062</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BB9C7A81EBF5CDE00A3A062</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
